
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
*{
    font-family: 'ZCOOL XiaoWei', serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    background-color: #30353e;
}
h1{
    font-size: 3rem;
    color: white;
    padding: 20px;  
}
h2{
    color: white;
    font-size: 2rem;
    padding: 20px;
}
h3{
    color: white;
    font-size: 1.5rem;
}
p{
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    line-height: 35px; 
}

/* home page starts here */

header{
    background-color: #30353e;
    width: 100%;
}

.header__logo{
    width: auto;
    height: 70px;
    margin: 20px 5px;
}
.header{
    height: 140px;
    width: 100%;  
}

/* toggle mobile starting code */
.header__toggle{
    display: none; 
}
.header__toggle:checked ~ nav{
    display: block;
}

.header__toggle--lable{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    height: 130px;
    display: flex;
    align-items: center;
}
.header__toggle--lable span,
.header__toggle--lable::before,
.header__toggle--lable::after{
    display: block;
    background: white;
    height: 3px;
    width: 2rem;
    border-radius: 3px;
    position: relative;
}
.header__toggle--lable::before,
.header__toggle--lable::after{
    content: "";
    position: absolute;
}
.header__toggle--lable::before{
    bottom: 52px;
}
.header__toggle--lable::after{
    top: 51px;
}
.header_menu{
    position: absolute;
    text-align: left;
    top: 100%;
    right: 0;
    width: 100%;
}
.header_menu{
    display: none;
    position: relative;
    top: 0;
    left: 80%;
}
.header_menu__list{
    list-style: none;
    padding: 0; 
}
.header_menu__item{
    padding-bottom: 1rem;
    margin-right: 1rem;    
}
.header_menu__item--a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* toggle mobile end code */

.header__booking{
    background-color: #007367;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}

.header__booking--button{
    text-decoration: none;
    color: white;
}
/* header ends here */

/* main starts here */
.main__container{
    width: 100%;
    height: auto;
    background-color: #30353e; 
}
.main__container--photo{
    margin: 1rem;
    width: 95%;
    height: 200px;
    border-radius: 5px;
}

/* slideshow starting code */

.main__container--slider{
    width: 100%;
    height: 500px;
    background: url(/assets/photos/01-day.jpg) center/ cover no-repeat;
    animation: slide 20s infinite; 
}
@keyframes slide {
    25%{
        background-image: url(/assets/photos/01-night.jpg);
    }
    50%{
        background-image: url(/assets/photos/02-day.jpg);
    }
    75%{
        background-image: url(/assets/photos/03-day.jpg);
    }
    100%{
        background-image: url(/assets/photos/01-day.jpg);
    }
    
}
/* slideshow end code */
/* main ends here */
/*footer starts here*/
.footer{
    background-color: #007367;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.scrollup{
    width: 60px;
    height: 60px;
    background-color: white;
    position: fixed;
    bottom: 100px;
    right: 30px;
    color: #007367;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: larger;
    border-radius: 40px;
}

.footer__soical{
    justify-content: space-between; 
    margin: .5rem 0;
    
}
.footer__menu{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: .5rem 0;
}

.footer__aside--p{
    margin: 1rem 0;
    padding: 0;
}
.footer__menu--emailbox{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    border-style: none;   
}
.footer__menu--submit{
    height: 28px;
    border-radius:10px ;
    width: 100px;
    border-style: none;
    margin: 1rem 0;
    background-color:#30353e;
    color: #eee;
    font-size: 1.2rem;
}
/*footer ends here*/

/* home page ends here */

/* Booking page starts here */

.booking_banner{
    width: 100%;
    background-color: #30353e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_container{
    display: grid;
    grid-template-columns: 100%;
    width: 90%;
}

.card_container--img{
    width: 100%;
    height: 500px;
    background: url(/assets/photos/05-night.jpg) center/ cover no-repeat;
    animation: rooms 20s infinite; 
}

@keyframes rooms {
    25%{
        background-image: url(/assets/photos/01-night.jpg);
    }
    35%{
        background-image: url(/assets/photos/02-night.jpg);
    }
    50%{
        background-image: url(/assets/photos/03-night.jpg);
    }
    65%{
        background-image: url(/assets/photos/04-night.jpg);
    }
    80%{
        background-image: url(/assets/photos/05-night.jpg);
    }
    100%{
        background-image: url(/assets/photos/06-night.jpg);
    }
}
.card_container--content{
    background: #007367;
    height: 600px;
}

.card_container--content h3{
    text-align: center;
    padding: 25px 0 25px 0;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #007367;
    border-bottom: 1px solid #eee;
}

form input[type = text], form input[type = date],form input::placeholder,select{
    color: white;
}
form input[type = submit]{
    background: #30353e;
    color: #eee;
    font-size: 30px;
    border-bottom: none;
    padding-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
}
form input[type = submit]:hover{
    opacity: 0.9;
}

.room_card{
    background-color: #30353e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    margin: 20px 40px;
    border: 3px solid #007367; 
}
.above_room_card-h2{
    text-align: center;
}
.room_card__aside{
    padding: 0 10px;
}
.room_card__aside2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.room_card__img{
    background: url(/assets/photos/06-day.jpg) center/ cover no-repeat;
}
.room_card__img2{
    background: url(/assets/photos/04-day.jpg) center/ cover no-repeat;
}
.room_card__img3{
    background: url(/assets/photos/03-day.jpg) center/ cover no-repeat;
}
.room_card__aside--h3{
    font-size: 1rem;
    margin: 20px 0;
}
.room_card__aside--p{
    font-size: .5rem;
    line-height: normal;
    padding: 0;  
}
.room_card__aside2--button{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: #007367;
    color: #eee;
    font-size: 1rem;
    border: none;
}
.room_card__aside2--span{
    height: 15px;
    width: 70px;
    background-color: #eee;
    text-align: center;
    margin: 5px;
    border-radius: 10px;   
}

/* Booking page ends here */

/* facilities page starts here */
.faci_main__container--slider{
    width: 100%;
    height: 500px;
    background: url(/assets/photos/09-day.jpg)center/ cover no-repeat;
    animation: faci_slide 20s infinite; 
}
@keyframes faci_slide {
    25%{
        background-image: url(/assets/photos/07-day.jpg);
    }
    50%{
        background-image: url(/assets/photos/08-day.jpg);
    }
    75%{
        background-image: url(/assets/photos/09-night.jpg);
    }
    100%{
        background-image: url(/assets/photos/09-day.jpg);
    }
    
}
.faci_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;    
}
.faci_main__container--section{
    height: 304px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: white solid 1px;
    border-bottom: none;
    border-right: none;
}
.faci_photo{
    height: 300px;
    
}
.faci_main__container--section--aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;  
}
.faci_main__container--section--article{
    font-size: 1.5rem;
    color: #eee;
}
.faci_main__container--section--reverse{
    height: 304px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: white solid 1px;
    border-bottom: none;
    border-left: none;  
}
/* Facilities Mobile version */

@media screen and (max-width: 800px) {
    .faci_main__container--section{
        flex-direction: column;
        height: 700px;
    }
    .faci_main__container--section--reverse{
        flex-direction: column;
        height: 700px;
    }
    .faci_photo{
       height: 23%;
    }
    
}
/* Facilities Mobile version */

/* facilities page ends here */

/* animation */
.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.1); 
    }
/* animation */

/* Desktop version */

@media screen and (min-width: 800px) 
/* Home page Desktop */
{
    .header__toggle--lable{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns:repeat(6, 1fr);
    }
    .header__booking{
        display: none;
    }
    .header__logo{
        grid-column: 2;
    }
    .header_menu{
        all: unset;
        grid-column: 5/6;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }

    .header_menu__list{
        display: flex;
    }
    .header_menu__item{
        padding: 0;
        margin-left: 3rem;
        margin-bottom: 0;
    }
    .header_menu__item--a{
        font-size: 2rem;  
    }

    .main__container--slider, .faci_main__container--slider{
        height: 1000px;
        width: 90%;
        margin: 10px auto;
    }
   
    .main__container--photo{
        height: auto;
    }
    .main__container--article{
        width: 90%;
        margin: 10px auto;
    }
    
    article{
        width: 100%;
        grid-column: 2/6;
        grid-row: 3;
        display: flex ;
        flex-direction: column;
        text-align: center;
    }
    .main__container__info{
        width: 90%;
        margin: 10px auto;
        display: flex ;
        flex-direction: row;
        text-align: center;
  
    }
    .main__container__info--article{
        border-right: #007367 solid 3px;
        border-bottom: #007367 solid 3px;;
    }
    .main__container__info--article2{
        border-right: #007367 solid 3px;
         border-top: #007367 solid 3px;
    }
    .main__container__info--article3{
        border-bottom: #007367 solid 3px;
    }

    .footer{
        display: flex;
        flex-direction: row;
        height: 200px;
    }
    
    /* Booking page desktrop*/
    .room_card{
        width: 40%;
        height: 306px;
    }
    .card_container--content{
        height: 800px;
    }
    .card_container{
        display: grid;
        grid-template-columns: 30% 30%;
        justify-content: center; 
    }
    .card_container--img{
        width: 100%;
        height: 800px;
    }
    form{
        margin: 120px auto;
    }
    .room_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .room_card{
        grid-auto-rows: 300px;
    }
    
    .room_card__aside, .room_card__aside2{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .room_card__aside--h3{
        font-size: 1.5rem;
    }
    .room_card__aside--p{
        font-size: 1rem;
    }
    .room_card__aside2--button{
        width: 200px;
        height: 60px;
        border-radius: 50px;
        font-size: 2rem;
    }
    .room_card__aside2--span{
        font-size: 1.5rem;
        width: 100px;
        height: 30px;
        border-radius: 30px;
    }
    
}

/* Desktop version */